---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-signed-char-misuse,
  -cert-str34-c
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*/src/tree_sitter/.*'
FormatStyle: file
